<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <title>Verekenen</title>
    <link rel="stylesheet" href="/static/styles/source/settle.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>

    {{template "header"}}

    <div class="wrapper">

      <section class="settle">

        <div class="you">
          <h6>Jij betaald <span class="focus">&euro;70</span> aan Jasper de Groot</h6>
          <a href="#" class="button">Betaal</a>
        </div>

        <div class="detailsSettle">

          <div class="settlement-wrapper">

            <div class="settlement">

              <div class="settle-header">
                <img src="/static/images/person.jpg" alt="Person">
                <span>Fabian Krudde</span>
              </div>
              <span>Heeft 3 betalingen gedaan en krijgt <span class="focus">&euro; 34</span></span>
              <div class="details">

                <li>
                  <span class="focus">&euro;14,-</span><span class="text">van</span>
                  <img src="/static/images/person.jpg" alt="Person">
                  <span>Eric van der Woude</span>
                </li>
                <li>
                  <span class="focus">&euro;14,-</span><span class="text">van</span>
                  <img src="/static/images/person.jpg" alt="Person">
                  <span>Eric van der Woude</span>
                </li>

              </div>

            </div>

          </div>
          <div class="settlement-wrapper">

            <div class="settlement">

              <div class="settle-header">
                <img src="/static/images/person.jpg" alt="Person">
                <span>Fabian Krudde</span>
              </div>
              <span>Heeft 3 betalingen gedaan en krijgt <span class="focus">&euro; 34</span></span>
              <div class="details">

                <li>
                  <span class="focus">&euro;14,-</span><span class="text">van</span>
                  <img src="/static/images/person.jpg" alt="Person">
                  <span>Eric van der Woude</span>
                </li>
                <li>
                  <span class="focus">&euro;14,-</span><span class="text">van</span>
                  <img src="/static/images/person.jpg" alt="Person">
                  <span>Eric van der Woude</span>
                </li>

              </div>

            </div>

          </div>
          <div class="settlement-wrapper">

            <div class="settlement">

              <div class="settle-header">
                <img src="/static/images/person.jpg" alt="Person">
                <span>Fabian Krudde</span>
              </div>
              <span>Heeft 3 betalingen gedaan en krijgt <span class="focus">&euro; 34</span></span>
              <div class="details">

                <li>
                  <span class="focus">&euro;14,-</span><span class="text">van</span>
                  <img src="/static/images/person.jpg" alt="Person">
                  <span>Eric van der Woude</span>
                </li>
                <li>
                  <span class="focus">&euro;14,-</span><span class="text">van</span>
                  <img src="/static/images/person.jpg" alt="Person">
                  <span>Eric van der Woude</span>
                </li>

              </div>

            </div>

          </div>
          <div class="settlement-wrapper">

            <div class="settlement">

              <div class="settle-header">
                <img src="/static/images/person.jpg" alt="Person">
                <span>Fabian Krudde</span>
              </div>
              <span>Heeft 3 betalingen gedaan en krijgt <span class="focus">&euro; 34</span></span>
              <div class="details">

                <li>
                  <span class="focus">&euro;14,-</span><span class="text">van</span>
                  <img src="/static/images/person.jpg" alt="Person">
                  <span>Eric van der Woude</span>
                </li>
                <li>
                  <span class="focus">&euro;14,-</span><span class="text">van</span>
                  <img src="/static/images/person.jpg" alt="Person">
                  <span>Eric van der Woude</span>
                </li>

              </div>

            </div>

          </div>

        </div>

        <div class='actions'>

          <a href="/overview" class="button">Definitief verekenen</a>
          <a href="/overview" class="back">Terug naar overzicht</a>

        </div>

      </section>

    </div>

  </body>
</html>
