//cd go/bin/BitRoom/static/styles
//sass --watch content:source --sourcemap=none

$primary-color: #8e44ad;
$secondary-color: #494949;
$tertiary-color: #E3E3E3;
$font: #999;

@import 'mixins.scss';
@import 'typography.scss';
@import 'reset.scss';

.wrapper {
  max-width: 1000px;
  @include center;
  padding: 100px 30px 0 30px;

  @include media(700px) {
    padding: 40px 20px 30px 20px;
  }
}

.button {
  background: $primary-color;
  color: white;
  font-size: 15px;
  padding: 12px 20px;
  border: 0px;
  border-radius: 5px;
}

.register, .addEntry {
  background: white;
  border-radius: 5px;
  margin-top: 50px;
  padding: 40px;
  border-top: 4px solid $primary-color;
}


form {
  @include flex($flex-direction: column);
  margin-top: 30px;
  width: 100%;

  label {
    margin: 25px 0 6px 0;
    font-size: 14px;
  }

  .input-wrapper {
    width: 100%;
  }

  svg {
    fill: $tertiary-color;
    @include container(20px);
    position: relative;
    z-index: 2;
    display: block;
    margin: -26px 0 0 6px;
  }

  input[type="text"], input[type="password"] {
    padding: 8px 8px 8px 30px;
    border: 1px solid #eee;
    display: block;
    margin: 6px 0 0 0px;
    max-width: 300px;
    width: calc(100% - 38px);
    border-radius: 5px;

    &:focus ~ svg {
      fill: $primary-color;
    }

    &:focus {
      outline:none;
      border: 1px solid $primary-color;
    }

  }

  input[type="submit"] {
    margin-top: 50px;
  }

}
