body {
  color: $secondary-color;
  font-family: 'Quicksand', sans-serif;
}

p {
  font-size: 14px;
  font-weight: 100;
  color: $font;
  line-height: 18px
}

h1 {
  font-size: 4em;
  font-weight: 300;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
}

h3 {
  font-size: 1.1em;
  font-weight: 200;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}

h5 {
  font-size: 1em;
  font-weight: 200;
  line-height: 22px;
}

h6 {
  font-size: 17px;
  font-weight: 500;
}
